@import 'variables';

:root {
    font-size: 62.5%;
}

@font-face {
    font-family: Gilroy;
    font-weight: 300;
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'), url('../fonts/Gilroy-Light.woff') format('woff');
}

@font-face {
    font-family: Gilroy;
    font-weight: 800;
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff');
}

@import '../../node_modules/modern-normalize/modern-normalize.css';

@import 'components/container';
@import 'components/footer';
@import 'components/header';
@import 'components/logo';
@import 'components/navbar';
@import 'components/social';
@import 'components/theme-switch';

html,
body {
    height: 100%;
}

body {
    font-size: 1.8rem;
    line-height: 1.65;
    background-color: var(--page--background);
    color: var(--page--color);
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}
