.footer {
    padding: 50px 0;
    text-align: center;
    margin-top: auto;
    color: rgba(#ffffff, 0.5);

    &__social {
        margin-bottom: size(xs);
    }

    &__copyright {
        margin-bottom: 0;
    }
}
