.footer {
    padding: 50px 0;
    text-align: center;
    margin-top: auto;
    color: inherit;

    &__social {
        margin-bottom: size(xs);
    }

    &__copyright {
        margin-bottom: 0;
    }
}
