.footer {
    padding: 50px 0;
    text-align: center;
    margin-top: auto;
    color: var(--footer--color);
    font-size: 1.4rem;

    &__social {
        margin-bottom: size(xs);
    }

    &__copyright {
        margin-bottom: 0;
    }
}
