.social {
    padding-left: 0;
    color: inherit;
    margin-bottom: 0;

    &__item {
        list-style: none;
        display: inline-block;
        margin: 0 2px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        color: inherit;
        color: #ffffff;

        &--twitter {
            background-color: #1da1f2;
        }
        &--github {
            background-color: #333333;
        }

        & > svg {
            width: 24px;
            height: 24px;
        }
    }

    [data-theme='dark'] &__icon {
        border: 1px solid currentColor;
        background-color: transparent;
        color: inherit;
    }
}
